
.logo {
       width: 150px;
       height: 80px;
       margin-right: auto;
       margin-top: 3px; 
   }

                  .container {
                      list-style: none;
                      display: flex;
                      background-color: #cceff9;
                      font-size: 20px;
					  margin: 0;
                      padding: 0;
					  position: fixed;
                     top: 0;
					 left: 0;
                     width: 100%;

					
					  
                  }

                 .items {
                  
                   padding-right: 60px;
                   padding-top: 25px;
                 }
                 .items a {
margin: 0 10px;
                   width: 100px;
                   color: #000000;
                   padding: 22px 15px;
                   text-decoration: none;
                
                   display: inline;

                   letter-spacing: 2px;
                   font-weight: 540;

                 }
                 .items a:hover {
                   background: #fff;
                   transition: 0.5s;
text-decoration: underline;
                 }

body{
  font-family: Verdana, sans-serif; 
line-height: 1.6;
text-align: center;
display: flex;
justify-content: center;
align-item: center;
min-height: 100vh;

}

.wrapper {
width: 1180px;
margin: 0 auto;
}

.banner-area{
margin-bottom: 0px;	
background-color: #3d7ca4;
background-size: cover;
background-position: center center;
top: 80px;
left:0;
height: 100vh;
width: 100%;
position: fixed;

}

.banner-area h2{
 margin-top: 15px; 
font-size: 60px;
color: #fff;

 
}

.content-area {
width: 95%;
heigth: 1500px;
position: relative;
background: #fff;
top: 200px;
}

.content-area h2 {
font-size: 20px;
margin: 0;
padding-top: 30px;
letter-spacing: 2px;
}



.content-area p{
padding: 2% 0;
line-heigth: 30px;
text-align: justify;
letter-spacing: 1px;
line-height: 1.5;
}


.text-box {
width: 550px;
}

* {
  box-sizing: border-box;
}

.contactus {
margin-top: 80px;
}

.contactus h2{
text-align: center;
font-size; 40px;
margin: 0;
padding-top: 0px;
letter-spacing: 2px;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #cc99ff;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #33cc33;
}

/* Style the container/contact section */
.contactus {
  border-radius: 5px;
  background-color: #bbb;
  padding: 20px;


}

/* Create two columns that float next to eachother */
.column {
  float: right;
  width: 50%;
margin-top: -430px;
  padding: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .column, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}





* {
  box-sizing: border-box;
}

/* Style inputs */
input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.appform {
margin-top: 50px;
  border-radius: 5px;
  background-color: #bbb;
  padding: 20px;
}

/* Create two columns that float next to eachother */
.colu {
  float: left;
  width: 50%;
  margin-top: 6px;
  padding: 20px;
}

/* Clear floats after the columns */
.rrr:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .colu, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

.cv{
display: inline-block;
    text-align: center;
    width: 100%;
    margin-top: 23px;
}

.cv input[type=text] {
    width: 66%;
    margin-top: 5p;
}

.cv input[type=button] {
    border: none;
    width: 20%;
    padding: 7px;
    margin-top: 5px;
}

.appform input[type=file] {
    margin-top: 20px;
    margin-left: 5%;
    width: 90%;
}

.footer-bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: white;
}

.footer-bottom center span{
    color: black;
}

.footer-bottom center a{
    text-decoration: none;
}

.footer-bottom center a:hover{
    text-decoration: underline;
	color:black;
}

